body {
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 99%);
    color: #121230;
    border: 6px solid #efefef;
    overflow: hidden;
}
main {
    display: grid;
    place-content: center;
    text-align: center;
    height: 13rem;
    width: 25rem;
    border: 1px solid #969696;
}
h1 {
    margin: 0 0 0.5rem 0;
}
svg {
    display: none;
    position: absolute;
    z-index: -1;
}
polyline {
    fill: none;
    stroke: salmon;
    stroke-width: 2px;
}